// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@media (min-width: 1200px) {
  .container {
    max-width: 1600px;
  }
}

div.bbcard {
  //width: 230px;
  max-width: 230px;
  min-width: 230px;
  margin-bottom: 20px !important;
}

div.bbcard {

}

div.card-footer small {
  margin-top: 10px;
  //margin-bottom: 5px;
}

.rounded-1 {
  border-radius: 1rem !important;
}


div.bbcard .card-header {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;

}

.border-3 {
  border-width:3px !important;
}

div.bbcard.shadow {
  box-shadow: -0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.25) !important;
}

//div.card-footer a {
//  margin-top: 8px;
//}