// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import url("http://flatlogic.github.io/awesome-bootstrap-checkbox/demo/1.0.0/font-awesome/css/font-awesome.min.css");

@import "~awesome-bootstrap-checkbox";

@media (min-width: 1200px) {
  .container {
    max-width: 1600px;
  }
}

div.bbcard {
  //width: 230px;
  //max-width: 300px;
  min-width: 240px;
  flex: 0 1 22% !important;
  margin-bottom: 20px !important;
}

div.bbcard {

}

div.card-footer small {
  margin-top: 10px;
  //margin-bottom: 5px;
}

.rounded-1 {
  border-radius: 1rem !important;
}


div.bbcard .card-header {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;

}

.border-3 {
  border-width:3px !important;
}

div.bbcard.shadow {
  box-shadow: -0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.25) !important;
}

//div.card-footer a {
//  margin-top: 8px;
//}

div.bbtask {
  margin-bottom: 16px;
}

div.project {
  margin-top: 26px;
}

div.custom-checkbox {
  align-self: center;
}
.custom-control-label::before {
  position: absolute;
  top: 0rem;
  left: -1.5rem;
  display: block;
  width: 2rem;
  height: 2rem;
  pointer-events: none;
  content: "";
  background-color: #fff;
  border: #adb5bd solid 1px;
}

.custom-control-label::after {
  position: absolute;
  top: 0rem;
  left: -1.5rem;
  display: block;
  width: 2rem;
  height: 2rem;
  content: "";
  background: no-repeat 50%/50% 50%;
}
